<div class="col col-lg-3 cl9p-left-panels">
	<div class="panel">
		<div class="cl9p-panel-heading">Recently Added Templates<span class="glyphicon glyphicon-list pull-right">&nbsp;</span></div>
		<ul class="list-group list-group-flush">
			<% @templates.each do |template| %>
			<li class="list-group-item cl9p-li"><%= image_tag "#{template.bullet}", :width => "16px" %><%= link_to "#{template.name}", "/templates/#{template._id}"%></li>
			<% end %>
		</ul>
	</div>
	<div class="panel">
		<div class="cl9p-panel-heading">Most Active Templates<span class="glyphicon glyphicon-list pull-right">&nbsp;</span></div>
		<ul class="list-group list-group-flush">&nbsp;</ul>
	</div>
	<div class="panel">
		<div class="cl9p-panel-heading">Search Templates</div>
		<ul class="list-group list-group-flush">
			<li class="list-group-item cl9p-li">
					<div class="form-group left-nav-search">
				          <div class="input-group input-group-sm input-group">              
			              <input type="search" class="form-control" placeholder="Search" id="search-query-8">
			              <span class="input-group-btn">
				          	  <button type="submit" class="btn btn-default"><span class="fui-search"></span></button>
			          	  </span>
			            </div>
			          </div>
				  </li>
		</ul>
	</div>
</div>