<%= render 'templates/leftnav' %>
<div class="col col-sm-9 flock-content">
		<p id="notice"><%= notice %></p>
		<h3>new template</h3>

		<%= render 'form' %>
		<h4><%= link_to 'back', templates_path %><h4>
		
</div>
